/* * PHONES * */

body {
   background-color: black;
   color: #f0f8ff;
   font-family: Xtypewriter-Regular;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1.2rem;
   ;
}

.heading {
   font-size: 2.5rem;
   font-weight: bold;
   letter-spacing: 0.2rem;
   text-align: center;
   margin: 5rem 0 2rem 0;
}


/* * TABLETS * */
@media only screen and (min-width: 481px) {

   .heading {
      font-size: 3rem;
   }
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .heading {
      margin: 5rem 0 3rem 0;
      font-size: 3rem;
   }
}

/* * DESKTOPS * */
@media only screen and (min-width: 1025px) {

   .heading {
      margin: 6rem 0 0.5rem 0;
      font-size: 4rem;
   }
}

/* * TV * */
@media only screen and (min-width: 1600px) and (max-width: 2560px) {

   .heading {
      margin-top: 13rem;
   }
}