.carousel {
   width: 75%;
   margin: 100px auto;
   padding: 32px;
   font-size: 20px;
   line-height: 1.6;
   color: white;
   background-color: black;
   box-shadow: 0px 0px 50px 10px #9C1010;
   position: relative;
   display: flex;
   gap: 32px;
}

.room-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.room-title {
   font-size: 70px;
   margin-bottom: 40px;
}

.room-story {
   text-align: center;
}

.stat-wrapper {
   display: flex;
   flex-direction: row;
   gap: 275px;
}

.stats {
   padding: 40px 0px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-size: 25px;
}

.arrow-direction {
   background: none;
   color: rgb(255, 255, 255);
   border: none;
   height: 80px;
   width: 80px;
   position: absolute;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.previous {
   top: 0%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.next {
   bottom: 0;
   right: 50%;
   transform: translate(50%, 50%);
}

@keyframes pulse-down {
   to {
      transform:translateY(10px);
   }
}

@keyframes pulse-up {
   to {
      transform:translateY(-10px);
   }
}

.btn-icon-previous:hover,
.btn-icon-previous:focus,
.btn-icon-previous:active {
   animation: pulse-down 0.3s linear infinite alternate;
}

.btn-icon-next:hover,
.btn-icon-next:focus,
.btn-icon-next:active {
   animation: pulse-down 0.3s linear infinite alternate;
}

.dots {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, 450%);
   display: flex;
   gap: 30px;
}

.dot {
   height: 16px;
   width: 16px;
   background-color: rgb(0, 0, 0);
   border: 2px solid #9C1010;
   border-radius: 50%;
   cursor: pointer;
}

.active {
   background-color: #9C1010;
}

.skull {
   width: 25px;
}

.carousel-book {
   margin-bottom: 30px;
   font-family: Xtype-Bold;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 10px;
      color: #f0f8ff;
      text-decoration: none;
      align-items: center;
      position: relative;
      display: inline-block;
   }


