/* * IPHONE * */

.carousel {
   width: 100%;
   height: 100%;
   color: white;
   line-height: 1.6;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
}

.btn-icon-next,
.btn-icon-previous {
   width: 100%;
}

.room-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.image-container {
   width: 100%;
}

.carousel-img {
   width: 100%;
}

.room-name {
   font-size: 50px;
   margin-bottom: 20px;
}

table {
   border-collapse: collapse;
   margin: 50px 0 50px 0;
}

td {
   border: 1px solid rgb(255, 255, 255);
   text-align: center;
   vertical-align: middle;
   height: 82px;
   width: 300px;
   font-size: 22px;
}

table tr:first-child td {
   border-top: 0;
}
   
table tr:last-child td {
   border-bottom: 0;
}

table tr td:first-child {
   border-left: 0;
}

table tr td:last-child {
   border-right: 0;
}

.book-button {
   background-color: black;
   font-size: 30px;
   margin-bottom: 40px;
   width: 50%;
   cursor: pointer;
   border-color: white;
}

.arrow-direction {
   background: none;
   color: rgb(255, 255, 255);
   border: none;
   height: 70px;
   width: 70px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.more-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.more-rooms {
   margin: 0 30px 0 30px;
   font-size: 20px;
   }

.dots {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   gap: 30px;
   width: 100%;
} 

.dot {
   height: 16px;
   width: 16px;
   background-color: rgb(0, 0, 0);
   border: 2px solid #A01110;
   border-radius: 50%;
   cursor: pointer;
}

.active {
   background-color: #A01110;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .carousel {
      width: 75%;
      margin: 100px auto;
      padding: 30px;
      font-size: 22px;
      box-shadow: 0px 0px 50px 10px #A01110;
      position: relative;
      gap: 32px;
   }

   .room-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
   }

   .room-name {
      font-size: 70px;
      margin-bottom: 40px;
   }

   @keyframes pulse-down {
      to {
         transform:translateY(10px);
      }
   }

   @keyframes pulse-up {
      to {
         transform:translateY(-10px);
      }
   }

   .btn-icon-previous:hover,
   .btn-icon-previous:focus,
   .btn-icon-previous:active {
      animation: pulse-up 0.3s linear infinite alternate;
   }

   .btn-icon-next:hover,
   .btn-icon-next:focus,
   .btn-icon-next:active {
      animation: pulse-down 0.3s linear infinite alternate;
   }

   .arrow-direction {
      position: absolute;
      width: 80px;
      height: 80px;
   }

   .previous {
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .next {
      bottom: 0;
      right: 50%;
      transform: translate(50%, 50%);
   }

   .dots {
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translate(-50%, 450%);
      margin-top: 0;
   }

   .book-button {
      border: none;
      width: 150px;
   }

   .more-container {
      display: none;
   }

   .active {
      background-color: #A01110;
   }
}

/* * MACBOOK PRO * */
@media only screen and (min-width: 1280px) {

   td {
      height: 50px;
   }
}

/* * IMAC */
@media only screen and (min-width: 1537px) and (max-width: 2560px) {

   .room-wrapper {
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
   }

   .carousel-img {
      width: 90%;
   }

   td {
      width: 600px
   }
}
