.carousel {
   width: 75%;
   margin: 100px auto;
   padding: 32px;
   font-family: Xtype-Regular;
   font-size: 20px;
   line-height: 1.6;
   color: white;
   background-color: black;
   box-shadow: 0px 0px 50px 10px #9C1010;
   position: relative;
   display: flex;
   gap: 32px;
}

.story {
   text-align: center;
}

.stats {
   padding: 40px 0px;
   display: flex;
   gap: 300px;
   font-size: 25px;
}

.stat-title {
   align-self:stretch;
}

.text-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.btn-direction {
   background: none;
   color: rgb(255, 255, 255);
   border: none;
   height: 80px;
   width: 80px;
   position: absolute;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.up {
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}

.down {
   bottom: 0;
   right: 50%;
   transform: translate(50%, 50%);
}

btn-icon {
   width: 40px;
   height: 40px;
   stroke: red;
   transition: all 3s ease-in-out;
}

@keyframes pulse-down {
   to {
      transform:translateY(10px);
   }
}

@keyframes pulse-up {
   to {
      transform:translateY(-10px);
   }
}

.btn-icon-up:hover,
.btn-icon-up:focus,
.btn-icon-up:active {
   animation: pulse-down 0.3s linear infinite alternate;
}

.btn-icon-down:hover,
.btn-icon-down:focus,
.btn-icon-down:active {
   animation: pulse-down 0.3s linear infinite alternate;
}

.dots {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, 450%);
   display: flex;
   gap: 30px;
}

.dot {
   height: 12px;
   width: 12px;
   background-color: black;
   border: 2px solid red;
   border-radius: 50%;
   cursor: pointer;
}

.title {
   font-size: 70px;
   margin-bottom: 40px;
}

.skull {
   width: 25px;
}

.book {
   margin-bottom: 30px;
}


