/* * IPHONE * */

footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 30px 30px;
}

.foot-container {
   margin-bottom: 30px;
   text-align: center;
}

.foot-ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 30px 0;
   margin: 20px 0 30px 0;
}

.abattoir-logo-foot {
   width: 20em;
}

.foot-text {
   font-family: Xtype-Regular;
   font-size: 15px;
   font-weight: bold;
   text-align: center;
}

.foot-link {
   font-family: Xtype-Bold;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 5px;
   color: #f0f8ff;
   text-decoration: none;
   align-items: center;
   position: relative;
   display: inline-block;
}

.foot-link:before {
   content: '';
   position: absolute;
   width: 0;
   height: 8px;
   top: calc(50% - 1.5px);
   right: 0;
   background: #A01110;
   transition: 0.2s ease;
} 

.foot-link:hover:before {
   left: -2px;
   width: 100%;
}

@keyframes animate {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }
   100% {
         opacity: 1;
         transform: translateY(0);
   }
}

.social-container {
   display: flex;
   text-decoration: none;
   margin-top: 20px;
}

.social-link {
   text-decoration: none;
}

.social-icon{
   margin: 0px 30px;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {
   footer {
      display: flex;
      gap: 0 50px;
   }

   .foot-ul {
      display: flex;
      flex-direction: row;
      gap: 0 50px;
      margin-bottom: 30px;
   }

   .social-container {
      display: inline;
      width: 100%;
      text-align: center;
      text-decoration: none;
      margin-top: 20px;
   }
}

/* * IMAC */
@media only screen and (min-width: 1537px) and (max-width: 2560px) {

   footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }
}