/* * IPHONE * */

.gallery {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.gallery-five,
.gallery-six,
.gallery-seven,
.gallery-eight,
.gallery-nine {
   display: none;
}

.gallery-image {
   margin-bottom: 50px;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .gallery {
      width: 75%;
      margin: 80px auto;
      padding: 30px;
      box-shadow: 0px 0px 50px 10px #A01110;
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .gallery-image {
      width: 100%;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
   }

   .gallery-image:hover {
      filter: brightness(50%);
   }

   .gallery-five,
   .gallery-six {
      display: block;
   }
}

/* * MACBOOK PRO * */
@media only screen and (min-width: 1280px) {

   .gallery {
      margin: 90px auto;
   }

   .gallery-image {
      width: 80%;
   }

   .gallery-seven,
   .gallery-eight {
      display: block;
   }
}

/* * IMAC */
@media only screen and (min-width: 1537px) and (max-width: 2560px) {

   .gallery {
      margin: 100px auto;
      padding: 50px;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }

   .gallery-nine {
      display: block;
   }
}