/* * PHONES * */

.gallery {
   display: flex;
   flex-direction: column;
   margin: 1rem auto 1rem auto;
}

.gallery-five,
.gallery-six,
.gallery-seven,
.gallery-eight,
.gallery-nine {
   display: none;
}

.gallery-img {
   margin-bottom: 2.5rem;
   width: 100%;
}

/* * TABLETS * */
@media only screen and (min-width: 481px) {

   .gallery {
      margin: 0 auto 2rem auto;
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .gallery-img {
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
   }

   .gallery-img:hover {
      filter: brightness(50%);
   }

   .gallery-five,
   .gallery-six {
      display: block;
   }
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .gallery {
      width: 90%;
      box-shadow: 0 0 2rem .7rem #A01110;
      padding: 1.5rem;
   }
}

/* * DESKTOPS * */
@media only screen and (min-width: 1025px) {

   .gallery {
      width: 80%;
      margin: 3rem auto;
   }

   .gallery-seven,
   .gallery-eight {
      display: block;
   }
}

/* * TV * */
@media only screen and (min-width: 1600px) and (max-width: 2560px) {

   .gallery {
      width: 60%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }

   .gallery-nine {
      display: block;
   }
}