/* * PHONES * */

.hero-img {
   width: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.hero-text {
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   color: #A01110;
}

.hero-title {
   font-size: 3.5rem;
}

.hero-subtitle {
   font-size: 1.5rem;
   margin-top: 1.5rem;
}

/* * TABLETS * */
@media only screen and (min-width: 481px) {

   .hero-title {
      font-size: 4rem;
   }

   .hero-subtitle {
      font-size: 2rem;
   }
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .hero-title {
      font-size: 4.5rem;
   }

   .hero-subtitle {
      font-size: 2.5rem;
   }
}

/* * DESKTOPS * */
@media only screen and (min-width: 1025px) {

   .hero-title {
      font-size: 5rem;
   }

   .hero-subtitle {
      font-size: 3rem;
   }
}

/* * TV * */
@media only screen and (min-width: 1600px) and (max-width: 2560px) {

   .hero {
      width: 90%;
   }

   .hero-img {
      width: 75%;
   }

   .hero-title {
      font-size: 5.5rem;
   }

   .hero-subtitle {
      font-size: 3.5rem;
   }
}