@font-face {
   font-family: "XTypewriter-Regular"; 
   font-weight: normal;
   src: url(../fonts/XTypewriter-Regular.ttf) format("truetype");
}

@font-face {
   font-family: "XTypewriter-Bold";
   font-weight: normal;
   src: url(../fonts/XTypewriter-Bold.ttf) format("truetype");
}

